
<article>
    <h2>
        <%= article.title %>
    </h2>
    <p>
        <%= article.contenu.slice(0,10) %> ...
    </p>
    <p>Tags : <%= article.slug %> </p>
    <p>Id: <%= article.id %> </p>
</article>