<%- include("partials/head.ejs") %> 


<body>
		<h1><%= title %> </h1>
        <% articles.forEach(article => { %>
            <%- include ('partials/article', {article}) %>
         <% }) %>
		
<%- include('partials/foot') %>

      